<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.practiceproject">

    <application

        android:name=".MyApplication"
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticeProject"
        tools:targetApi="n">

        <activity android:name=".UserDetailActivity"> </activity>
        <activity
            android:name=".MainActivity"
            android:label="体重管理">
        </activity>
        <activity android:name=".RegisterActivity" > </activity>
        <activity
            android:name=".LoginActivity"
            android:label="健康管理">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsDetailActivity" > </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>